* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: gray;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.container {
  height: 100vh;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .menu {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  margin-left: 50px;
  background-color: #252525;
} */

.menu {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  margin-left: auto; /* Pushes the text to the right, aligning it to the top */
  margin-right: auto; /* Pushes the text to the right, aligning it to the top */
  background-color: #252525;
  display: block; /* Ensures the link is displayed as a block-level element */
  margin-top: 20px;
}

.menu:hover {
  color: greenyellow;
}

.trafikljus {
  /* border: 10px white solid;*/
  background-color: white;
}

.red,
.yellow,
.green {
  z-index: 0;
  background-color: gray;
  height: 300px;
  width: 300px;
  border: 20px transparent solid;
  margin: 10px 10px 10px 10px;
}

.red {
  background-color: red;
  border-color: rgb(104, 25, 25);
}

.yellow {
  background-color: yellow;
  border-color: rgb(148, 148, 37);
}

.green {
  background-color: green;
  border-color: rgb(47, 89, 34);
}

.redInner,
.yellowInner,
.greenInner {
  z-index: 100;
  height: 150px;
  width: 150px;
}

.redInner {
  z-index: 10;
  width: 100%;
  height: 50%;
  background-color: rgb(255, 81, 81);
  margin-top: 50%;
}

.yellowInner {
  z-index: 10;
  width: 50%;
  height: 50%;
  background-color: rgb(255, 255, 126);
  margin-top: 50%;
  float: right;
}

.greenInner {
  z-index: 10;
  width: 50%;
  height: 50%;
  background-color: rgb(89, 158, 89);
  margin-top: 50%;
  float: left;
}
